# Entornos virtuales
.venv/
venv/
env/
.env/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Migraciones innecesarias
**/migrations/__pycache__/
**/migrations/*.pyc

# Configuración de editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de log o pruebas
*.log
*.tmp

# Archivos generados (media o static si los usas)
static/
media/
